# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Presentation/Client/dist
/Presentation/Client/tmp
/Presentation/Client/out-tsc
# Only exists if Bazel was run
/Presentation/Client/bazel-out

# dependencies
/Presentation/Client/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/Presentation/Client/.sass-cache
/Presentation/Client/connect.lock
/Presentation/Client/coverage
/Presentation/Client/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/Presentation/Client/typings

# System Files
.DS_Store
Thumbs.db


*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/