
@{
    ViewData["Title"] = "UnAuthorize";
}


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">UnAuthorize</h1>
        <p>You don't have authorization to this page.</p>
        <p><<a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">GO Back to ECommerce App!</a>></p>
    </div>
</div>
