<h2>My Cart</h2>
<hr />

<div class="row">

    <div class="col s8">
      <div [hidden]='cart.TotalItems > 0'>
        Your cart is empty !
      </div>
      <!-- cart table-->
      <table class="highlight centered responsive-table">
        <thead>
          <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of cart.Items">
              <td>{{item.Name}}</td>
              <td>
                  <!-- <input  type="text" class="input-field" [(ngModel)]="item.Quantity" /> -->
                  {{ item.Quantity }}
                  <button class="waves-effect waves-light btn-small"
                          [disabled]="item.Quantity <= 1"
                          (click)="cart.addToCart(item.ProductId,item.Name,item.UnitPrice,-1)">
                  <i class="material-icons">remove_circle</i>
                </button>
                <button class="waves-effect waves-light btn-small"
                        [disabled]="item.Quantity < 1"
                        (click)="cart.addToCart(item.ProductId,item.Name,item.UnitPrice,1)">
                  <i class="material-icons">add_circle</i>
                </button>
              </td>
              <td>
                {{ item.UnitPrice * item.Quantity | currency:'EUR':'symbol':'3.2-2':'fr'}}
              </td>
              <td title="remove from cart">
                <button class="waves-effect waves-light btn-small red"
                        (click)="cart.deleteFromCart(item.ProductId)">
                  <i class="material-icons">delete_forever</i>
                </button>
              </td>
          </tr>
          <tr *ngIf="cart.TotalItems > 0">
            <td></td>
            <td><b>Grand Total</b></td>
            <td><b>{{ cart.Total | currency:'EUR':'symbol':'3.2-2':'fr'}}</b></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s4 actions right-align">
      <p>
        <a class="waves-effect waves-light btn btn-lg green lighten-1"
          [routerLink]="['']">
          <i class="material-icons">shopping_basket</i>
        </a>
        <button class="waves-effect waves-light btn btn-lg red-lighten-2 "
                [disabled]="cart.TotalItems < 1"
                (click)="cart.clearCart()">
              <i class="material-icons left">remove_shopping_cart</i>
              clear
        </button>
      </p>
      <p>
        <button class="waves-effect waves-light btn btn-lg blue lighten-1"
                [disabled]="cart.TotalItems < 1"
                (click)="checkout()">
              <i class="material-icons left">payment</i>
              Not available !
        </button>
      </p>
    </div>

</div>

